# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Introduce data science development environment tools.
- Perform arithmetic operations in Python.
- Convert units of time in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. scikit-learn
4. Matplotlib
5. TensorFlow

| Data Science Tools |
| ----- |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Examples of Evaluating Arithmetic Expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

PARHAM KARBASI